* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    height: 100%;
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
}

#dictionary-tab {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#puzzle-tab {
    flex: 5;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    max-height: 100vh;
}

.controls {
    margin-bottom: 20px;
}

.controls input, .controls select, .controls button {
    min-width: 100px;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    height: 40px; /* Set a consistent height for input, select, and button */
    margin: 5px; /* Add some margin for spacing */
}

button {
    background-color: #90EE90; /* Light green background color */
    border: 1px solid #76C76B; /* Slightly darker green border */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

button:hover {
    background-color: #76C76B; /* Darker green on hover */
}

.grid {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    max-width: 90vw;
    overflow: auto;
    aspect-ratio: 1 / 1;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    background-color: white;
    aspect-ratio: 1 / 1;
}

.cell input {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    border: none;
    text-align: center;
    background: transparent;
}

.cell input:focus {
    outline: none;
}

.cell.empty {
    background-color: black;
}

.cell.highlight {
    background-color: greenyellow;
}