* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

/* Page layout */
body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    max-height: 100vh;
}

#dictionary-tab {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#helper-tab {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#puzzle-tab {
    flex: 4;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

/* General styles for controls */
.controls {
    margin-bottom: 20px;
}

.controls input,
.controls select,
.controls button {
    min-width: 50px;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    /* Set a consistent height for input, select, and button */
    height: 40px;
}

button {
    /* Light green background color */
    background-color: #90EE90;
    /* Slightly darker green border */
    border: 1px solid #76C76B;
    /* Rounded corners */
    border-radius: 5px;
    /* Smooth transition for background color */
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #76C76B;
    /* Darker green on hover */
}

/* Styles for grid and cells */
.grid {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    max-width: 95%;
    overflow: auto;
    aspect-ratio: 1 / 1;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    aspect-ratio: 1 / 1;
    /* Required for pseudo-elements (highlights) */
    position: relative;
}

.cell input {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    border: none;
    text-align: center;
    background: transparent;
    /* Show cursor instead of caret to indicate that the cells are selectable */
    cursor: pointer;
    caret-color: transparent;
}

.cell input::selection {
    /* Disable default selection background */
    background: none;
}

.cell.empty {
    background-color: black;
}

.cell.highlight-selected {
    background-color: rgba(188, 218, 228, 0.418);
}

.cell.highlight-vertical::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 4px;
    background-color: rgba(218, 165, 32, 0.3);
    transform: translateX(-50%);
}

.cell.highlight-horizontal::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 4px;
    background-color: rgba(138, 43, 226, 0.3);
    transform: translateY(-50%);
}

.cell.hint {
    background-color: yellow;
    /* Shrink text to fit and allow breaking lines */
    font-size: 1.5rem;
    word-wrap: break-word;
}

/* Styles for dictionary word add */
#word-add {
    width: 100%;
}

/* Styles for dictionary list */
.word-list {
    flex: 1;
    overflow-y: auto;
}

.word-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.word-list li button {
    background: none;
    border: none;
    cursor: pointer;
}

.word-list li .word {
    cursor: pointer;
}

.word-list li .count::before {
    content: '[ ';
    position: relative;
}

.word-list li .count::after {
    content: ' ]';
    position: relative;
}